POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=

MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_BUCKET_NAME=
MINIO_ENDPOINT=

RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_QUEUE=

TELEGRAM_BOT_TOKEN=